<body>
    <head>
        <footer>
            <!-- Nombres alumnos, nombre página y logo The Movie DB -->
              <div class="copyright">
                  <h2 class="mcm">MC Movies</h2>
                  <img class="img-poweredby"src="img/poweredby.png" alt="">
                  <h6>Clara Kearney y Martina Vanderusten</h6>
              </div>
          </footer>
    </head>
</body>