<body>
    <head>
        <footer>
            <!-- Nombres alumnos, nombre página y logo The Movie DB -->
              <nav class="copyright">
                    <ul>
                        <li>
                          <h6 class="mcm">MC Movies</h6>
                        </li>
                        <li>
                          <img class="img-poweredby"src="/images/poweredby.png" alt="">
                        </li>
                        <li>
                          <h6>Clara Kearney, Martina Vanderusten & Matteo Lovatto</h6>
                        </li>                
                    </nav>
          </footer>
    </head>
</body>