<body>
    <head>
        <footer>
            <!-- Nombres alumnos, nombre página y logo The Movie DB -->
              <div class="copyright">
                  <h2 class="mcm">MC Movies</h2>
                  <img class="img-poweredby"src="/images/poweredby.png" alt="">
                  <h6>Clara Kearney, Martina Vanderusten & Matteo Lovatto</h6>
              </div>
          </footer>
    </head>
</body>