<!-- <section>
    <ul>
        <% for (let i = 0; i < listaUsuarios.length; i++) { %>
            <li>
                <%= listaUsuarios[i].name %> 
                <a href="/movies/users<%= listaUsuarios[i].id%>">
                    <%=unUser[i].name%>
                </a>
            </li>
        <% } %>
    </ul>
  </section> -->