<!DOCTYPE html>
<html lang="en" dir="ltr">

      
      <%-  include('./partials/head') %> 
      <link rel="stylesheet" href="/stylesheets/home.css">

      <script src="/javascripts/mejorpuntuadas.js"></script> 
      <script src="/javascripts/popular.js"></script> 
      <script src="/javascripts/proximas.js" ></script>

  <body>
      <div class="access-allowed">

        <%- include('./partials/header') %> 
    

          <main>
            
            <section id="puntaje" class="section-puntaje">
              <h5 class="mejor-puntaje">TOP RATED</h5>
              <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;ratio: 2:3">
                <ul class="uk-slideshow-items ul-puntaje">
                </ul>
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>
            </section>

            <section id="populares" class="section-populares">
              <h5 class="pelis-populares">POPULAR MOVIES</h5>
              <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;ratio:2:3">
                <ul class="uk-slideshow-items ul-popular">
                </ul>
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>
            </section>

            <section id="proximamente" class="section-proximamente">
                <h5 class="proximas-pelis">UPCOMING</h5>
              <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push;ratio:2:3">
                    <ul class="uk-slideshow-items ul-proximas">
                    </ul>
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>
            </section>
            
          </main>

      </div>
      <%- include('./partials/footer') %> 
  </body>
  
</html>
