<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<script> src="/javascripts/uikit-icons.js" </script>
<script> src="/javascripts/uikit-icons.min.js" </script>
<script> src="/javascripts/uikit.js" </script>
<script> src="/javascripts/uikit.min.js" </script>
