<!DOCTYPE html>
<html lang="en">
  <%-  include('./partials/head') %> 
  <link rel="stylesheet" href="/stylesheets/home.css">

<body>
  <%- include('./partials/header') %>  
    <div class="uk-container">
        <div class="uk-section uk-section-large">
          <form id="formDelete" method="POST" class="uk-background-secondary uk-padding uk-padding-large" action="/users/reviews/delete/<%= deleteId %> ">
          
          </form>
        </div>
      </div>
<%- include('./partials/footer') %> 
</body>
</html>