
<body>        

  <div class="uk-container">
    <div class="uk-section uk-section-large">
      <form id="formLogin" method="POST" class="uk-background-secondary uk-padding uk-padding-large" action="/users/reviews/delete/<%= deleteId %> ">
      
      </form>
    </div>
  </div>
</body>
