<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('./partials/head') %> 
    <script src="/modulo-login.js"> </script>

</head>
<body>
    <%- include('./partials/header') %> 
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="">Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="">Birthday</label>
            <input type="birth_date" name="birth_date">
        </div>
        <input type="submit" value="Enviar">
    </form>
    <%- include('./partials/footer') %> 
</body>
</html>