<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/detallepeli.css"> 
  
<body>
    <form action="/users/searchUsersResult" method="GET"> 
        <div>
            <label for=""> Search users </label>
            <input type="text" id="searchUser" name="searchUser">
        </div>

        <div>
            <input type="submit" value="send">
        </div>
    </form>
</body>
</html>