<!DOCTYPE html>
<html lang="en">
    <%-  include('./partials/head') %> 
    <link rel="stylesheet" href="/stylesheets/detallepeli.css"> 
    <link rel="stylesheet" href="/stylesheets/navbar.css">
        
  <body>
    <%- include('./partials/header') %> 
    <section>
        <div class="uk-modal-body" uk-overflow-auto>
            <form action="/users/searchUsersResult" class="uk-background-secondary uk-padding uk-padding-large" method="get">
              <div class="uk-margin-large-top">
                <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: search"></span>
                  <input id="text" class="searchUser uk-input" type="searchUser" name="searchUser" placeholder="Search users">
                </div>
              </div>
              <div class="uk-margin">
                <div class="uk-inline">
                    <input type="submit" value="Search">
                </div>
              </div>
            </form>
          </div>
    </section>
    <%- include('./partials/footer') %> 
</body> 

</html>


