

.trailer-peli {
    width: 95%;
  }
  h4 {
    text-align: center;
    text-transform: full-width;
    font-size: 20px;
    border: 5px inset #F5B778;
    border-radius: 7px;
    margin-top: 20px;
    padding-top: 0;
  }
  section h2 {
    margin-left: 0;
    width: 430px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Russo One;
    font-size: 1rem;
    color: #F5B778;
  }
  div.formReview {
    margin-top: 0%;
  }
  .uk-icon-button {
    margin-top: 5%;
    border-color: black;
  }
  button.estrellita {
    margin-top: 5%;
    border-color: black;
  }
  nav ul li a {
    text-decoration: none;
    text-decoration-color: #FFFFFF;
  }
  li {
    list-style-type: none;
  }
  
  ul.botonesUL {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  li.botonesLI {
    margin: 0;
    padding: 20px 12px 0 12px;
    flex-direction: row;
    list-style-type: none;
    font-size: 1rem;
  }
  html {
    background-color: white;
  }
