*{box-sizing: border-box;}

html {
 background-color: rgb(240, 229, 225);
}

div.myReviews ul.edit-delete-movie li {
    text-decoration: none;
  }
  
  ul.edit-delete-movie {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  li {
    margin: 0;
    padding: 20px 12px 0 12px;
    flex-direction: row;
    list-style-type: none;
    font-size: 1rem;
  }

  ul.user-email{
      margin-top: 8%;
      text-align: center; 
      font-family: Russo One;
  }
  ul.user-email h2{
    font-family: Russo One;
    font-style: normal;
    text-decoration: underline;
  }

  hr{
      color: black;
  } 
